<!--<section class="spotlight">-->
<!--  <h2 class="spotlight__header">-->
<!--    <span class="spotlight__header--prefix">Media Spotlight</span>-->
<!--    <a class="spotlight__link-to" href="/works/866">Where'd they all go?</a> by-->
<!--  </h2>-->
<!--  <p class="spotlight__description">-->
<!--    7 votes-->
<!--  </p>-->
<!--</section>-->


<!--<h2 class="spotlight__header">-->
<!--  <span class="spotlight__header--prefix"-->
<!--  Media Spotlight:-->
<!--  ::after-->
<!--</span>-->
  <%#= @works.most_votes.title, :class => "spotlight__link-to" %>
<!--</h2>-->
<!--  <%#= @works.most_votes.title %> by <%#= @works.most_votes.creator %></h2>-->
<!--<p class="spotlight__description"><%#= @works.most_votes.votes %>votes</p>-->

<hr class="root__hr">
<section class="top-ten__container">
  <%= render partial: "top_ten", locals: { category: "movie", works: @movies } %>
  <%= render partial: "top_ten", locals: { category: "book", works: @books } %>
  <%= render partial: "top_ten", locals: { category: "album", works: @albums } %>
</section>

