<h1>Works</h1>
<%= render partial: "table", locals: { category: "Albums", works: @albums } %>
<%= render partial: "table", locals: { category: "Books", works: @books } %>
<%= render partial: "table", locals: { category: "Movies", works: @movies } %>